
body {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-image: url('images/PK-PAUI0370_TP_V.webp'); 
    background-size: cover; 
    background-position: center; 
    color: #fff;
    padding: 150px 0; /* 縦幅を増加 */
    position: relative; /* ナビゲーションメニューの位置を調整するために必要 */
}

header h1 {
    margin: 0;
    text-align: center;
    font-size: 3rem;
}

/* ナビゲーション */
nav {
    position: absolute;
    top: 20px; /* ヘッダーの上部から20px下げる */
    right: 20px; /* ヘッダーの右端から20px内側に配置 */
}

nav ul {
    display: flex;
    justify-content: flex-end; /* リストアイテムを右端に配置 */
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem; /* 初期の文字サイズ */
}

.gallery {
    background-color: #a0d8ef;
    padding: 40px 0;
}

.gallery h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3列に設定 */
    gap: 20px;
    justify-items: center;
}

.grid-item {
    background-color: #efefef;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.grid-item p {
    font-size: 1rem;
    color: #333;
}

#company {
    background-color: #f5f5f5; 
    padding: 40px 0;
    width: 100%; 
    margin: 0; 
}

table {
    width: 100%;
}

th,td {
    padding: 5px;
    font-size: 0.8rem;
    border-bottom: 1px solid #000;
    text-align: left;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 0.9rem;
}

@media (min-width: 800px) {
    header h1 {
        font-size: 2.5rem; 
    }
}

@media (max-width: 600px) {
    header {
        padding: 250px 0; 
    }

    header h1 {
        font-size: 1.9rem; 
    }

    nav {
        position: relative; /* スマホ版では絶対位置を解除 */
        top: 0;
        right: 0;
    }

    nav ul {
        justify-content: center; /* 中央寄せに変更 */
        width: 100%;
    }

    nav ul li a {
        font-size: 0.7rem; /* モバイル版では文字サイズを小さく */
    }

    .grid {
        grid-template-columns: 1fr;
    }
}